body {
    font-family: 'Quicksand';
}

h1 {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 50px;
    font-style: italic;
}

p.image-credit {
    font-family: 'Quicksand';
    font-size: 12px;
}